{% extends 'base.html.twig' %}

{% block seo %}
	<twig:SEO
		title="{{ seoConfig.title }}"
		description="{{ seoConfig.description }}"
		keywords="{{ seoConfig.keywords }}"
		websiteURL="{{ seoConfig.websiteURL }}"
		author="{{ seoConfig.author }}"
		xHandle="{{seoConfig.xHandle}}"
		xImage="{{ seoConfig.xImage }}"
		metaImage="{{ seoConfig.metaImage }}"
		favicon="{{ seoConfig.favicon }}"
	/>
{% endblock %}


{% block body %}
	<twig:Header
		title="{{siteConfig.title}}"
		description="{{ siteConfig.description }}"
		buttonURL="{{ siteConfig.buttonURL }}"
		buttonText="{{ siteConfig.buttonText }}"
		image="{{ siteConfig.image }}"
		featuredImages="{{ siteConfig.featuredImages }}"
	/>
	<main class="grow py-12 space-y-12">

		<!-- Experience -->
		<twig:SectionVertical sectionTitle="Experience">
			{% for experience in experience.experiences %}
				<twig:CardExperience
					title="{{ experience.title }}"
					description="{{ experience.description }}"
					imageURL="{{ experience.imageURL }}"
					startDate="{{ experience.startDate }}"
					endDate="{{ experience.endDate }}"
					url="{{ experience.url }}"
					place="{{ experience.place }}"
				/>
			{% endfor %}
		</twig:SectionVertical>

		<!-- Certifications -->
		<twig:SectionVertical sectionTitle="Certifications">
			{% for cert in certification.certifications %}
				<twig:CardCertification
					title="{{ cert.title }}"
					description="{{ cert.description }}"
					url="{{ cert.url }}"
					certificationPlace="{{ cert.certificationPlace }}"
				/>
			{% endfor %}
		</twig:SectionVertical>


		<!-- Side Hustles -->
		<twig:SectionHorizontal sectionTitle="Side hustles">
			{% for project in sideProject.projects %}
				<twig:CardProject
					name="{{ project.name }}"
					description="{{ project.description }}"
					imageUrl="{{ project.imageUrl }}"
					url="{{ project.url }}"
				/>
			{% endfor %}
		</twig:SectionHorizontal>
	</main>

	<twig:Footer
		logoURL="{{ siteConfig.logoURL }}"
		xURL="{{ siteConfig.xURL }}"
		gitHubURL="{{ siteConfig.gitHubURL }}"
		facebookURL="{{ siteConfig.facebookURL }}"
		copyright="{{ siteConfig.copyright }}"
	/>
{% endblock %}

