<article {{ attributes}} class="p-5 rounded-xl odd:bg-gradient-to-tr odd:from-gray-100 odd:to-gray-50 dark:odd:bg-gradient-to-tr dark:odd:from-gray-800 dark:odd:to-gray-800/[0.65]">
	<div class="sm:flex gap-5">
		<div class="shrink-0 w-10 h-10 rounded-full flex items-center justify-center bg-white dark:bg-gray-700 border border-gray-200 dark:border-gray-600/[0.65] shadow-sm max-sm:mb-3 sm:mt-5 p-2">
			<img src="{{ asset(imageURL) }}" alt="{{ title }}" class="rounded-full">
		</div>
		<div>
			<div class="space-y-1.5 mb-3">
				<div class="text-[13px] italic text-gray-500/70">{{ startDate }} - {{ endDate }}</div>
				<h3 class="font-semibold text-gray-800 dark:text-gray-100">
					<a class="hover:underline decoration-2 decoration-gray-300 dark:decoration-gray-600 underline-offset-2" href="{{ url }}" target="_blank">{{ title }}</a>
				</h3>
				<div class="text-[13px] font-medium text-gray-600dark:text-gray-400">{{ place }}</div>
			</div>
			<p class="text-sm text-gray-600 dark:text-gray-400">{{ description|raw }}</p>
		</div>
	</div>
</article>
