<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<link rel="icon" href="{{ asset(favicon) }}">

<meta name="keywords" content="{{ keywords }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ websiteURL }}">
<meta name="author" content="{{ author }}">

<meta property="og:title" content="{{ title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:url" content="{{ websiteURL }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ asset(metaImage) }}">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:locale" content="en_EN">

<meta name="twitter:card" content="{{ asset(xImage) }}">
<meta name="twitter:site" content="{{ xHandle }}">
<meta name="twitter:creator" content="{{xHandle}}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="{{ asset(xImage) }}">
<meta name="twitter:url" content="{{ websiteURL }}">
